body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px; /* Adicionado para definir um tamanho de fonte base */
}

p {
    padding: 0;
    margin: 0;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50%; /* Aumentado para melhor visualização em dispositivos móveis */
}

.top-left {
    padding: 1em; /* Alterado para em para melhor escala em diferentes tamanhos de tela */
}

.top {
    width: 100%;
    height: auto; /* Alterado para auto para melhor escala em diferentes tamanhos de tela */
}

.product {
    width: 90%;
    padding: 1em; /* Alterado para em para melhor escala em diferentes tamanhos de tela */
    background-color: white;
    margin: 0 auto;
    margin-top: 0.5em; /* Diminuído para melhor visualização em dispositivos móveis */
    border-radius: 0.5em; /* Diminuído para melhor visualização em dispositivos móveis */
    box-shadow: 0 0 0.5em 0 #000;
    text-align: center;
}
.selection, .exit, .add {
    padding: 0.5em 1em; /* Aumentado para melhor toque em dispositivos móveis */
    border: 0.01em solid #ccc;
    box-sizing: border-box;
    font-size: 1em; /* Adicionado para definir um tamanho de fonte adequado */
}
.exit, .add {
    margin: 0.5em 0;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto; /* Alterado para auto para melhor escala em diferentes tamanhos de tela */
    height: auto; /* Alterado para auto para melhor escala em diferentes tamanhos de tela */
    font-size: 1.5em; /* Aumentado para melhor visualização em dispositivos móveis */
}

.add {
    padding: 0;
    width: 2em; /* Aumentado para melhor toque em dispositivos móveis */
    height: 2em; /* Aumentado para melhor toque em dispositivos móveis */
    border-radius: 100%;
    font-size: 2em; /* Aumentado para melhor visualização em dispositivos móveis */
}

.exit:hover, .add:hover {
    opacity: 0.8;
}

.saldo-vermelho {
    color:red;
}

.span-saldo {
    width: 70%; /* Aumentado para melhor visualização em dispositivos móveis */
    display: inline-block;
    text-align: right;
}

